@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

body * {
  border: 1px;
  padding: 5px;
  font-weight: bold;
}

body {
  background-color: palevioletred;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
}
  
#BinaWisata {
  font-size: 200%;
  font-weight: bolder;
}
  
#header {
    display: flex;
    background-color: wheat;
  }
  
  #HeaderButtons {
    display: flex;
    margin-left: auto;
    height: fit-content;
    width: fit-content;
    border: 1px solid gray;
  }
  
  a:hover {
    background-color: aqua;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  a {
    height: fit-content;
    width: fit-content;
    background-color: pink;
    border: 1px solid gray;
    text-decoration: none;
    color: black;
  }
  
  #main {
    height: 1000px;
  }
  
  h1 {
    text-align: center;
  }
  
  #mainimg {
    width: 40%;
    height: 40%;
  }
  
  a:hover {
    background-color: cyan;
  }
  
  a {
    background: pink;
    height: fit-content;
    width: fit-content;
    border: 1px solid gray;
  }
  
  footer {
    font-weight: bold;
  }
