@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
body {
  font-family: "Lato", sans-serif;
}
.navbar {
  background-color: transparent;
}
.baner {
  background-color: rgb(194, 244, 194);
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}
.baner.scrolled {
  background-color: rgb(82, 109, 133);
}
h2 .baner {
  text-align: center;
}
iframe {
  position: relative;
  margin-left: 30px;
  border-radius: 20px;
}

.mydiv {
  margin-top: 50px;
  margin-bottom: 50px;
}
.cross {
  font-size: 10px;
}
.padding-0 {
  padding-right: 5px;
  padding-left: 5px;
}
.img-style {
  margin-left: -11px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 104% !important;
}
.m-t-20 {
  margin-top: 20px;
}
.bbb_background {
  background-color: #e0e0e0 !important;
}
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 34px;
  border-radius: 50%;
  padding: 8px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 100 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 17px;
}
.ribbon-top-right::after {
  bottom: 17px;
  right: 0;
}
.sold_stars i {
  color: orange;
}
.ribbon-top-right span {
  right: 17px;
  top: 17px;
}
div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bbb_deals_featured {
  width: 100%;
}
.bbb_deals {
  width: 100%;
  margin-right: 7%;
  padding-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 34px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 0px;
}
.bbb_deals_title {
  position: absolute;
  top: 10px;
  left: 22px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
.bbb_deals_slider_container {
  width: 100%;
}
.bbb_deals_item {
  width: 100% !important;
}
.bbb_deals_image {
  width: 100%;
}
.bbb_deals_image img {
  width: 100%;
}
.bbb_deals_content {
  margin-top: 33px;
}
.bbb_deals_item_category a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.bbb_deals_item_price_a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
.bbb_deals_item_price_a strike {
  color: red;
}
.bbb_deals_item_name {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}
.bbb_deals_item_price {
  font-size: 24px;
  font-weight: 500;
  color: #6d6e73;
}
.available {
  margin-top: 19px;
}
.available_title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
.available_title span {
  font-weight: 700;
}
@media only screen and (max-width: 991px) {
  .bbb_deals {
    width: 100%;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 575px) {
  .bbb_deals {
    padding-left: 15px;
    padding-right: 15px;
  }
  .bbb_deals_title {
    left: 15px;
    font-size: 16px;
  }
  .bbb_deals_slider_nav_container {
    right: 5px;
  }
  .bbb_deals_item_name,
  .bbb_deals_item_price {
    font-size: 20px;
  }
}
.border-md {
  border-width: 2px;
}

.btn-facebook {
  background: #405d9d;
  border: none;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #97c970;
}

.btn-twitter {
  background: #42aeec;
  border: none;
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #1799e4;
}

body {
  min-height: 100vh;
}

.form-control:not(select) {
  padding: 1.5rem 0.5rem;
}

select.form-control {
  height: 52px;
  padding-left: 0.5rem;
}

.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}
.form-control:focus {
  box-shadow: none;
}

/*****************globals*************/
body {
  font-family: "open sans";
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
}
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked,
.price span {
  color: #85d97f;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}
.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}
.color:first-of-type {
  margin-left: 20px;
}

.add-to-cart,
.like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.add-to-cart:hover,
.like:hover {
  background: #9dda7a;
  color: #fff;
}

.not-available {
  text-align: center;
  line-height: 2em;
}
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
}

.orange {
  background: #8eeb88;
}

.green {
  background: #85ad00;
}

.blue {
  background: #0076ad;
}

.tooltip-inner {
  padding: 1.3em;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
