body * {
  /* border: 1px solid red; */
  padding: 5px;
}

#main {
  height: 1000px;
}

h1 {
  text-align: center;
}

#mainimg {
  display: flex;
  justify-content: center;
}

#mainimg img {
  width: 40%;
  height: 40%;
}
